<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap linked -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Welcome to the Dojo!</title>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Welcome to Coding Dojo!!</h1>
    <p class="lead">Creating gods of the coding world. Register below to begin your journey to immortality.</p>
    <hr class="my-4">
    <h3>Join Today!</h3>
    <div class="form-group">
    <form action="/result" method="post">
        Name: <input type="text" name="name">
        Email: <input type="email" name="email">
        Username: <input type="text" name="username">
    </div>
    <div class="form-group">
        Cohort: <select multiple class="form-control" name="cohort" id="multi-class">
            <option>January Cohort</option>
            <option>March Cohort</option>
            <option>May Cohort</option>
            <option>July Cohort</option>
        </select>
    </div>
        <input type="submit" value="Sacrifce First Born">


    </form>
</div>



<!-- JS Scripts for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>